<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!--조회.-->
  <mapper namespace="com.winter.app.qna.QnaMapper">
  	<select id="getList" resultType="QnaVO" parameterType="Pager">
  		SELECT
  			*
  		FROM
  			QNA
	  		<where>
		  		<if test="kind == 'k1'">
		  			BOARD_WRITER LIKE CONCAT('%',#{search},'%')
		  		</if>
		  		<if test="kind == 'k2'">
		  			BOARD_CONTENTS LIKE CONCAT('%',#{search},'%')
		  		</if>
		  		<if test="kind == 'k3'">
		  			BOARD_TITLE LIKE CONCAT('%',#{search},'%')
		  		</if>
	  		</where>
  		ORDER BY
  			BOARD_NUM DESC
  		LIMIT #{startRow}, #{perPage}
  
  	</select>
  	
  	<!--추가-->
  	
  	<insert id="add" parameterType="QnaVO" useGeneratedKeys="true" keyProperty="boardNum">
  	
	  	<!--  <selectKey order="BEFORE" keyProperty="boardNum" resultType="Long">
	  		SELECT seq.nextval from dual
	  	</selectKey> -->
  	
	  	<!--컬럼명을 안쓸거면 db에 있는 순서 그대로 값을 넣어주어야 한다.-->
  		INSERT INTO
  			QNA
  		VALUES
  			(#{boardNum}
  			,#{boardWriter}
  			,#{boardTitle}
  			,#{boardContents}
  			,now()
  			,#{ref}
  			,#{step}
  			,#{depth})
  	</insert>
  	
  	<update id="refUpdate" parameterType="QnaVO">
  		UPDATE
  			QNA
  		SET
  			REF=#{boardNum}
  		WHERE
  			BOARD_NUM=#{boardNum}
  	</update>
  	
  	<!-- detail -->
  	<!-- 파라미터타입이 boardnum의 Long으로 해도 됨 -->
  	<select id="getDetail" parameterType="QnaVO" resultMap="getDetailResult">
  	<!-- 글 하나에 파일이 여러개, qna 1개에 qnaFile N개 이므로 1:N의 관계, 글 하나는
  	파일을 여러개 가지고 있다고 표현 가능, java에서 이를 qnaVO가 qnaFileVO를 여러개 가지고 있다는 의미로
  	변수를 QnaVO에 추가, 여기에서는 join 진행 -->
  	<!-- inner 조인은 양쪽 테이블 둘다 있어야 함(한쪽만 데이터가 있으면 조회 안됨)
  		outer 조인은 한쪽만 데이터가 있으면 outer 조인사용(left, right, full 조인이 있음)
  		따라서 qna테이블에는 있고 qnaFiles에는 무조건 있을까? 글을 등록할 때
  		file을 넣지 않을 수 있음. 하지만 글은 들어감 그러면 qna에만 데이터가 존재하는 경우가 있음.
  		그렇게 되면 left join, using을 쓰면: 조인하는 테이블의 컬럼이 같을 경우씀, on 써도 됨, 무조건 다를 경우는 on을 쓴다.-->
  		
  	<!-- 셀렉트한 결과물의 테이블명과 리절트 타입의 변수명(setter명)이 일치하면 넣어줌 근데 큐앤에이파일즈는 변수명이 다름-->
  		SELECT
  			*
  		FROM
  			QNA Q
  		LEFT JOIN
  			QNAFILES QF
  			ON Q.BOARD_NUM = QF.BOARD_NUM
  		WHERE
  			Q.BOARD_NUM=#{boardNum}
  	</select>
  	<!-- 기준이 되는 메인 select테이블 -->
  	<resultMap type="QnaVO" id="getDetailResult">
  		<id property="boardNum" column="BOARD_NUM"></id>
  		<result property="boardTitle" column="BOARD_TITLE"/>
  		<result property="boardWriter" column="BOARD_WRITER"/>
  		<result property="boardContents" column="BOARD_CONTENTS"/>
  		<result property="createDate" column="CREATE_DATE"/>
  		<result property="ref" column="REF"/>
  		<result property="step" column="STEP"/>
  		<result property="depth" column="DEPTH"/>
  		
  		<!-- 조인할 테이블 N의 위치에 있는 테이블 -->
  		<collection property="ar" javaType="java.util.List" ofType="QnaFileVO">
  			<id property="boardNum" column="BOARD_NUM"></id>
  			<result property="fileNum" column="FILE_NUM"></result>
  			<result property="fileName" column="FILE_NAME"></result>
  			<result property="oriName" column="ORI_NAME"></result>
  		</collection>
  	
  	</resultMap>
  	
  	<!-- file -->
  	<insert id="addFile" parameterType="QnaFileVO">
  		INSERT INTO
  			QNAFILES
  				(FILE_NAME
  				,ORI_NAME
  				,BOARD_NUM)
  		VALUES
  				(#{fileName}
  				,#{oriName}
  				,#{boardNum})
  	</insert>
  	
  	<select id="getFileDetail" parameterType="QnaFileVO" resultType="QnaFileVO">
  	
  		SELECT 
  			* 
  		FROM 
  			QNAFILES 
  		WHERE 
  			FILE_NUM=#{fileNum}
  	
  	</select>
  </mapper>